<?xml version="1.0"?>
<config>
    <modules>
        <Officience_CustomerAttribute>
            <version>0.0.1</version>
        </Officience_CustomerAttribute>
    </modules>
    <frontend>
        <layout>
            <updates>
                <customerattribute>
                    <file>officience_customerattribute.xml</file>
                </customerattribute>
            </updates>
        </layout>
        <routers>
            <customerattribute>
                <args>
                    <module>Officience_CustomerAttribute</module>
                    <frontName>customerattribute</frontName>           
                </args>
            </customerattribute>
        </routers>
    </frontend>
    <global>    
        <fieldsets>
            <customer_account>
                <prefix><create>1</create><update>1</update><name>1</name></prefix>
                <firstname><create>1</create><update>1</update><name>1</name></firstname>
                <middlename><create>1</create><update>1</update><name>1</name></middlename>
                <lastname><create>1</create><update>1</update><name>1</name></lastname>
                <suffix><create>1</create><update>1</update><name>1</name></suffix>
                <email><create>1</create><update>1</update></email>
                <password><create>1</create></password>
                <confirmation><create>1</create></confirmation>
                <dob><create>1</create><update>1</update></dob>
                <taxvat><create>1</create><update>1</update></taxvat>
                <gender><create>1</create><update>1</update></gender>
            </customer_account>    
        </fieldsets>
        <helpers>
            <customerattribute>
                <class>Officience_CustomerAttribute_Helper</class>
            </customerattribute>  
        </helpers>
        <models>
            <customerattribute>
                <class>Officience_CustomerAttribute_Model</class>
                <resourceModel>customerattribute_mysql4</resourceModel>
            </customerattribute>  
            <customerattribute_mysql4>
                <class>Officience_CustomerAttribute_Model_Mysql4</class>
                <entities>
                    <officustomerattribute>
                        <table>officustomerattribute</table>
                    </officustomerattribute>
                </entities>
            </customerattribute_mysql4>
        </models>
        <resources>
            <customerattribute_setup>
                <setup>
                    <module>Officience_CustomerAttribute</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerattribute_setup>        
        </resources>
        <blocks>
            <customerattribute>
                <class>Officience_CustomerAttribute_Block</class>
            </customerattribute>    
            <customer>
                <rewrite>
                    <form_register>Officience_CustomerAttribute_Block_Form_Register</form_register>
                </rewrite>
            </customer>   
            <customer>
                <rewrite>
                    <form_edit>Officience_CustomerAttribute_Block_Form_Edit</form_edit>
                </rewrite>
            </customer>        
        </blocks>
        <rewrite>
            <officience_customerattribute_account>
                <from><![CDATA[#^/customer/account/#]]></from>            
                <to>/customerattribute/account/</to>
            </officience_customerattribute_account>
        </rewrite>
    </global>
    <admin>
        <routers>
            <customerattribute>
                <use>admin</use>
                <args>
                    <module>Officience_CustomerAttribute</module>
                    <frontName>customerattribute</frontName>
                </args>
            </customerattribute>
        </routers>
    </admin>
    <adminhtml>
        <menu>                        
            <customer>
                <children>                  
                    <customerattribute_adminhtml_index>
                        <title>Customer Attributes Manager</title>
                        <action>customerattribute/adminhtml_index</action>
                        <sort_order>12</sort_order>
                    </customerattribute_adminhtml_index>                                                                           				                                                                             
                </children>                    
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Officience_CustomerAttribute>
                            <title>Customer Attribute Module</title>
                            <sort_order>10</sort_order>
                        </Officience_CustomerAttribute>
                    </children>                   
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <attribute>
                    <file>officience_customer_attribute.xml</file>
                </attribute>                
            </updates>
        </layout>
    </adminhtml>
</config>